
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap')
// Colors
$purple : #d7bbf0
$purple-dark : #31395b
$white : #fff

//font-size
$title-h1: 45px
$title-h2: 20px

// font-family 
$font-logo: Libre Baskerville, serif
